/* 
    Paleta de colores:
        #2C3639
        #3F4E4F
        #A27B5C
        #DCD7C9
*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    background-image: url("../images/tomb_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2C3639;
    color: #DCD7C9;
    font-family: 'Bangers', cursive;
    font-size: large;
}

.title {
    color: #A27B5C;
    text-align: center;
    font-weight: lighter;
}

#sec-warrior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-stretch: ultra-expanded;
    font-weight: lighter;
}

/* Todas las imagenes para elegir */
.cards {
    display: flex;
    gap: 10px;
}

/* Una imagen de jugador en particular */
.card {
    width: 140px;
    height: 140px;
    padding: 5px;
    margin: 10px;
    background-color: #3F4E4F;
    box-sizing: border-box;
    border-color: #A27B5C;
    border-radius: 10px;
    border-style: dashed;
    border-width: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
}

/* Dar formato a un elemento específico dentro de una clase. */
.card img {
    width: 85px;
    height: 85px;
}

.card p {
    margin-block: 2px;
    margin-block-end: 0;
}

/* Cambia el estilo al pasar el cursor. */
.card:hover {
    background-color: #DCD7C9;
    color: #3F4E4F;
}

input {
    display: none;
}

/* Esto deja marcado al guerrero elegio */
input:checked + label {
    background-color: #DCD7C9;
    color: #3F4E4F;
}

#btn-select {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border-color: #A27B5C;
    font-weight: lighter;
    font-family: 'Bangers', cursive;
    font-size:x-large;
    color: #3F4E4F;
}

#p-warning-message {
    font-size: larger;
    color:crimson;
    background-color: #DCD7C9;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 400px;}

#sec-attack {
    flex-direction: column;
    align-items: center;
}

.attack-button {
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: #A27B5C;
    font-weight: lighter;
    font-family: 'Bangers', cursive;
    font-size:larger;
    color: #3F4E4F;
}

#div-messages {
    display: flex;
    flex-direction: column;
    align-items: center;   
    border-radius: 10px;
    display: block;
    width: 300px;
    background-color: #DCD7C9;
    color: #2C3639;
    padding: 5px;
    margin: 10px;
}

#p-result {
    margin-block: 4px;
}

#btn-reset {
    font-family: 'Bangers', cursive;
    border-color: #A27B5C;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: large;
    color: #3F4E4F;
    width: 120px;
}

.attack {
    display: grid;
    width: 90%;
    grid-template-columns: 140px auto auto 140px;
    grid-template-rows: auto auto auto;
}

.player {
    grid-column: 1;
    text-align: center;
}

.player .health {
    text-align: left;
}

.enemy {
    grid-column: 4;
    text-align: center;
}

.enemy .health {
    text-align: right;
}

.img-characters {
    width: 120px;
    height: 120px;
}

.health {
    grid-row: 1;
}

.image {
    grid-row: 2;
}

.name {
    grid-row: 3;
}

.attacks_player {
    grid-row: 1;
    grid-row-end: 3;
    grid-column: 2;
    margin-right: 10px;
    margin-left: 10px}

.attacks_enemy {
    grid-row: 1;
    grid-row-end: 3;
    grid-column: 3;
    margin-right: 10px;
    margin-left: 10px
}