body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
canvas {
    background: #eee;
    margin: 0 auto;
}

#div-message {
    font-weight: bold;
    margin-top: 10px;
}

#spn-message {
    margin-right: 10px;
}